<?xml version='1.0' encoding='utf-8'?>
<widget id="com.insidecoach.app" version="0.2.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Inside Coach</name>
    <description>Inside Coach App</description>
    <author email="info@insidecoach.com" href="https://build.phonegap.com">Inside Coach</author>
    <icon src="www/images/icon.png" />
    <access origin="*" />
    <preference name="exit-on-suspend" value="true" />
    <plugin spec="https://github.com/macdonst/SpeechSynthesisPlugin#7d9d87d" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
</widget>
